.transition-up {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.transition-up:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1) !important;
}

.btn-white {
    background-color: #fff;
    color: #212529;
    border: 1px solid #dee2e6;
}

.btn-white:hover {
    background-color: #f8f9fa;
}

.bg-success-subtle {
    background-color: #e6fcf5 !important;
}

.bg-primary-subtle {
    background-color: #edf2ff !important;
}

.bg-warning-subtle {
    background-color: #fff9db !important;
}