html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* This kills the scroller for good */
}
.main-content {

  transition: margin-left 0.3s ease; 
}

.main-content.sidebar-collapsed {
  margin-left: 100px;
}